@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}

div.v-data-table-footer {
    display: flex;
    justify-content: space-between;
}

.btn-search {
    display: flex;
    justify-content: space-between;
}
